@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;700&family=Oswald&display=swap');


body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
    background-color: #ccc;
}

.main {
    width: 1080px;
    margin: 0 auto;
}

.header_top{
    display: flex;
    background-color: #eefaff;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    color: #002b34;
    
}

.header_left{
    max-width: 600px;
}

.header_left h1{
    font-weight: 700;
    font-size: 40px;
}

.header_right img{
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.middle{
    display: flex;
    background-color: #ffe7d8;
    padding: 20px;
    justify-content: space-around;
    color: #002b34;
}

.experience h1, .education h1, .skills h1{
    font-size: 40px;
}

.middle ul li{
    margin-bottom: 2px;
}

.line{
    background-color: #000;
    height: inherit;
    width: 1px;

}

footer{
    display: flex;
    background-color: #002b34;
    padding: 20px;
    justify-content: space-evenly;
    color: #ffe7d8;
    width: 1040px;
    margin: 0 auto;
}

.ref{
    padding-right: 125px;
}
